@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.wrapper {
  max-width: 1300px;
  width: 100%;
  padding: 10px 10px 10px 10px;
  -webkit-box-shadow: 5px 5px 19px 10px #000;
  box-shadow: 5px 5px 19px 10px #000;
}

h1 {
  margin-bottom: 3rem;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.05em;
  color: darkslategrey;
  font-size: 45px;
  font-weight: bolder;
}

h2 {
  margin-bottom: 15px;
  font-size: 25px;
  color: black;
}

p {
  font-family: 'sans-serif', cursive;
  line-height: 1.3;
  font-size: 25px;
  color: black;
}
