@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Sigmar+One&family=Special+Elite&display=swap');

.navBar {
  padding: 10px 5%;
  background-color: rgb(16, 241, 219);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 8px;
}

.nav li {
  text-decoration: none;
  padding: 6px 12px;
  border: 1px solid black;
  color: black;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Special Elite', cursive;
  font-weight: bolder;
  transition: all 0.5s ease;
}

a:hover {
  color: orange;
  text-decoration: underline;
}

.logo {
  color: orange;
  font-family: cursive;
  font-size: 1rem;
  line-height: 1.5;
  text-shadow: 1px 2px black;
}

@media only screen and(min-width: 768px) {
  .logo {
    font-size: 3rem;
  }

  .nav li {
    padding: 12px;
  }
}
