:root{
  --dark: #474849;
  --light:#eee;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans',sans-serif;
}

body{
  background-color: var(--light);
}

.App{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator{
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0,0,0,0.2);
}

.display{
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

button{
  appearance: none;
  border: 1px solid #888;
  outline: none;
  color: rgb(10, 10, 10);
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover{
  opacity: 0.9;
}

.digits{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.digits button{
  flex: 1   20.333%;
  background-color: rgba(182, 176, 176, 0.582);
}
.digits .span-two{
  grid-column-start: 1;
  grid-column-end: 3;
}
.digits .orange {
  background-color: orangered;
}

