* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-image: url('../images/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  backdrop-filter: blur(2px);
}

#root {
  height: 100%;
  opacity: 0.8;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
